---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = 'Mi blog de Astro aprendizaje';
---

<BaseLayout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>o algo parecido...</h2>

  <p>Aqui voy a postear todo lo que voy aprendiendo en el tutorial de Astro</p>

  <ul>
    {
      allPosts.map(post => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          image={post.frontmatter.image}
        />
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0 2rem;
  }
</style>
