---
const { frontmatter } = Astro.props;
---

<header>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt} width='300' />
  <h1>{frontmatter.title}</h1>
  <h3><em>{frontmatter.description}</em></h3>
  <p>
    Publicado el: {frontmatter.pubDate.slice(0, 10)} por {frontmatter.author}
  </p>
  <section class='tags'>
    {frontmatter.tags.map(tag => `#${tag}`).join(', ')}
  </section>
</header>

<hr />

<slot />

<style>
  header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  header * {
    margin: 0;
    padding: 0;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }
</style>
