---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h3><em>{frontmatter.description}</em></h3>
  <p>
    Publicado el: {frontmatter.pubDate.slice(0, 10)} por {frontmatter.author}
  </p>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt} width='300' />
  <ul class='tags'>
    {
      frontmatter.tags &&
        frontmatter.tags.map(tag => (
          <li>
            <a href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))
    }
  </ul>

  <hr />

  <slot />
</BaseLayout>

<style>
  .tags {
    list-style: none;
    margin: 0;
    padding-left: 8px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
</style>
